<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>678895427449-pkmskkkn1rjefjb5106g1krnu3tvlej1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678895427449-pkmskkkn1rjefjb5106g1krnu3tvlej1</string>
	<key>API_KEY</key>
	<string>AIzaSyD6OUk69l59WH69pBDHLneoH7PbFB1xI_I</string>
	<key>GCM_SENDER_ID</key>
	<string>678895427449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateudesigns.Trial-Finder</string>
	<key>PROJECT_ID</key>
	<string>trial-finder</string>
	<key>STORAGE_BUCKET</key>
	<string>trial-finder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:678895427449:ios:2005b1c4d78f3836</string>
	<key>DATABASE_URL</key>
	<string>https://trial-finder.firebaseio.com</string>
</dict>
</plist>